Repository spacetelescope/webbpsf, pull requests merged in 2021-12, with the labels that each got.

#499 Rename 'P750L LRS grating' -> 'P750L', per #477
  docs/jwst.rst
  docs/more_examples.rst
  docs/references.rst
  webbpsf/webbpsf_core.py
Labels: JWST

#504 add synphot as required dependency, and update some other min vers
  requirements.txt
  setup.cfg
  tox.ini
Labels: dependencies

#506 JWST "visual optical budget" display toolkit
  docs/jwst.rst
  docs/jwst_optical_budgets.ipynb
  docs/relnotes.rst
  webbpsf/opds.py
  webbpsf/optical_budget.py
  webbpsf/otelm/jwst_wfe_summary_from_optical_budget.csv
  webbpsf/tests/test_optical_budget.py
  webbpsf/webbpsf_core.py
Labels: enhancement, data_files

#488 Added distortion/crop arguments to Roman calc_psf
  webbpsf/roman.py
Labels: Roman

#516 Drop CGI references in Roman code
  .github/workflows/ci_workflows.yml
  docs/relnotes.rst
  docs/roman.rst
  docs/roman_figures/fig_coronagraph_spc_f770.png
  notebooks/roman_cgi_demo.ipynb
  notebooks/roman_coronagraph_demo.ipynb
  webbpsf/__init__.py
  webbpsf/roman.py
  webbpsf/tests/test_roman.py
Labels: Roman
