Repository spacetelescope/webbpsf, pull requests merged in 2023-08, with the labels that each got.

#688 Additional fixes to trending.py
  webbpsf/trending.py
Labels: bug

#713 Minor updates in order to run the WebbPSF-Roman_Tutorial notebook
  notebooks/WebbPSF-Roman_Tutorial.ipynb
  webbpsf/jupyter_gui.py
Labels: bug, enhancement, Roman

#714 more docs for version 1.2
  docs/index.rst
  docs/jwst_detector_effects.ipynb
  docs/jwst_matching_psfs_to_data.ipynb
  docs/relnotes.rst
Labels: docs
